*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    scroll-behavior:smooth;
}

body{

    font-family:Manrope,sans-serif;

    background:#0b1120;

    color:#ffffff;

    line-height:1.8;
}

nav{

    display:flex;

    justify-content:space-between;

    align-items:center;

    padding:25px 10%;

    position:sticky;

    top:0;

    background:#0a0a14cc;

    backdrop-filter:blur(10px);

    border-bottom:1px solid #ffffff14;
}

nav ul{

    display:flex;

    list-style:none;

    gap:35px;
}

nav a{

    color:#ffffff;

    text-decoration:none;

    transition:.3s;
}

nav a:hover{

    color:#4ea8ff;
}

header{

    min-height:60vh;

    display:flex;

    flex-direction:column;

    justify-content:center;

    align-items:center;

    text-align:center;

    padding:30px;
}

header h1{

    font-size:4rem;

    margin-bottom:20px;
}

header span{

    color:#188dcc;
}

header p{

    max-width:750px;

    opacity:.8;

    font-size:1.15rem;

    margin-bottom:25px;
}

.button{    padding:16px 35px;    border-radius:10px;    background:#d1d5db; color:#0f0f0f; text-decoration:none;    transition:.3s;}
.button:hover{    transform:translateY(-5px);    background:#e5e7eb; box-shadow:0 15px 40px #ffffff33;}

section{

    width:min(1100px,90%);

    margin:60px auto;
}

section h2{

    margin-bottom:40px;

    font-size:2.2rem;

    color:#eaeaea;
}

.grid{

    display:grid;

    grid-template-columns:repeat(auto-fit,minmax(280px,1fr));

    gap:25px;
}

.card{

    background:#2d2e30;

    padding:30px;

    border-radius:18px;

    border:1px solid #ffffff14;

    transition:.35s;
}

.card:hover{

    transform:translateY(-8px);

    border-color:#eaeaea;
}

.card h3{

    margin-bottom:15px;
}

footer{

    margin-top:120px;

    padding:40px;

    text-align:center;

    border-top:1px solid #ffffff14;

    color:#888;
}

@media(max-width:700px){

nav{

flex-direction:column;

gap:20px;
}

header h1{

font-size:2.5rem;
}

header p{

font-size:1rem;
}

}